<h1>BLEND</h1>

<form class="color_scheme_form" ng-submit="blend.addColorScheme(blend.newColorScheme, blend.user.id)">
  <input id='color_one' ng-model='blend.newColorScheme.color_one'/>
  <input id='color_two' ng-model='blend.newColorScheme.color_two'/>
  <input id='color_three' ng-model='blend.newColorScheme.color_three'/>
  <input id='color_four' ng-model='blend.newColorScheme.color_four'/>
  <input id='color_five' ng-model='blend.newColorScheme.color_five'/>
  <input id='color_scheme_name' ng-model='blend.newColorScheme.color_scheme_name'/>
  <button id='save-scheme' class="waves-effect waves-light light-blue lighten-3 btn btn" type='submit'>Save Color Scheme</button>
</form>
<!-- ng-click='blend.addColorScheme(colorScheme, blend.user.id)' -->
<br><br><br>
<button class="waves-effect waves-light light-blue lighten-3 btn btn" type='submit' ng-click="blend.showColorSchemes(blend.user.id)">Show Color Schemes</button>
{{blend.user.colorSchemes}}
<div class="showColorSchemes" ng-repeat='color in blend.colorSchemes track by $index'>
  <div>{{color.color_scheme_name}}</div>
  <div>{{color.color_one}}</div>
  <div>{{color.color_two}}</div>
  <div>{{color.color_three}}</div>
  <div>{{color.color_four}}</div>
  <div>{{color.color_five}}</div>
  <button class="btn-floating btn-small waves-effect waves-light blue-grey lighten-3" ng-click='blend.deleteColorScheme(blend.user.id, blend.colorSchemes[$index].id, $index)'>DELETE</button>
</div>

<!-- SPECTRUM FUNCTIONS -->

<script>
$("#color_one").spectrum({
    color: "#f00"
});
</script>
<script>
$("#color_two").spectrum({
    color: "#f00"
});
</script>
<script>
$("#color_three").spectrum({
    color: "#f00"
});
</script>
<script>
$("#color_four").spectrum({
    color: "#f00"
});
</script>
<script>
$("#color_five").spectrum({
    color: "#f00"
});
</script>
