<h3 class='blend'>Blend</h3>
<br><br>
<form class="color_scheme_form" ng-submit="blend.addColorScheme(blend.newColorScheme, blend.user.id)">
  <div class='box2-container'>
    <input id='color_one' ng-model='blend.newColorScheme.color_one'/>
    <input id='color_two' ng-model='blend.newColorScheme.color_two'/>
    <input id='color_three' ng-model='blend.newColorScheme.color_three'/>
    <input id='color_four' ng-model='blend.newColorScheme.color_four'/>
    <input id='color_five' ng-model='blend.newColorScheme.color_five'/>
  </div>
  <br>
  <div class='container'>
    <div class="output" id="output"></div>
  </div>
  <br>
  <div class='box-container'>
    <div class="pixel" id='one' style="background-color:#9ad4e2"></div>
    <div class="pixel" id='two' style="background-color:#8cbbd7"></div>
    <div class="pixel" id='three' style="background-color:#cecece"></div>
    <div class="pixel" id='four' style="background-color:#e8e8e8"></div>
    <div class="pixel" id='five' style="background-color:#D3E5E5"></div>
  </div>
  <br>
  <div class='container center'>
    <div class="row">
      <div class="input-field col s6">
        <input id='input7' ng-model='blend.newColorScheme.color_scheme_name' type='text' class='validate'/>
        <label id='label7' for="color_scheme_name">Color Scheme Name</label>
      </div>
      <br>
      <button id='save-scheme' class="btn waves-effect waves-light blue-grey lighten-4" type='submit'>Save Color Scheme</button>
    </div>
  </div>
</form>

<br><br>

<h5 class='blend'>{{blend.user.username}}'s Color Schemes</h5>
<div class="showColorSchemes" ng-repeat='color in blend.colorSchemes track by $index' ng-mouseover='hoverIn()' ng-mouseleave='hoverOut()' ng-if='blend.colorSchemes.length >= 1'>
  <div class='box2-container'>
    <div class="pixel" style="background-color:{{color.color_one}}"></div>
    <div class="pixel" style="background-color:{{color.color_two}}"></div>
    <div class="pixel" style="background-color:{{color.color_three}}"></div>
    <div class="pixel" style="background-color:{{color.color_four}}"></div>
    <div class="pixel" style="background-color:{{color.color_five}}"></div>
    <span ng-show='showName' class='animate-show' id='show-details'>
      <h6 id='name-spacing'>{{color.color_scheme_name}}</h6>
      <button class="btn-floating btn-small waves-effect waves-light blue-text white" ng-click='blend.deleteColorScheme(blend.user.id, blend.colorSchemes[$index].id, $index, blend.all_color_schemes)'>X</button>
    </span>
  </div>
</div>
<div class="showColorSchemes" ng-if='blend.colorSchemes.length < 1'>
  <br>
  <p class='no-schemes'>You don't have any saved color schemes. Start blending above!</p>
</div>

<!-- SPECTRUM FUNCTIONS -->

<script>
(function () {
  var app = {
    start: function() {
      this.output = $('#output');
      this.one = $('#one');
      this.two = $('#two');
      this.three = $('#three');
      this.four = $('#four');
      this.five = $('#five');
      var self    = this,
        initialColor1 = this.one.css('background');
        initialColor2 = this.two.css('background');
        initialColor3 = this.three.css('background');
        initialColor4 = this.four.css('background');
        initialColor5 = this.five.css('background');
      var colorPicker = $('#color_one').spectrum({
          chooseText: 'ok',
          color: initialColor1,
          preferredFormat: "hex",
          showPalette: true,
          showAlpha: true,
          change: function(col) { self.onChange1(col.toHexString()); },
        });
      var colorPicker = $('#color_two').spectrum({
        chooseText: 'ok',
        color: initialColor2,
        preferredFormat: "hex",
        showPalette: true,
        showAlpha: true,
        change: function(col) { self.onChange2(col.toHexString()); },
      });
      var colorPicker = $('#color_three').spectrum({
        chooseText: 'ok',
        color: initialColor3,
        preferredFormat: "hex",
        showPalette: true,
        showAlpha: true,
        change: function(col) { self.onChange3(col.toHexString()); },
      });
      var colorPicker = $('#color_four').spectrum({
        chooseText: 'ok',
        color: initialColor4,
        preferredFormat: "hex",
        showPalette: true,
        showAlpha: true,
        change: function(col) { self.onChange4(col.toHexString()); },
      });
      var colorPicker = $('#color_five').spectrum({
        chooseText: 'ok',
        color: initialColor5,
        preferredFormat: "hex",
        showPalette: true,
        showAlpha: true,
        change: function(col) { self.onChange5(col.toHexString()); },
      });
      this.broadcast(colorPicker.spectrum('get').toHexString());
    },

    onChange1: function(color) {
      this.one.css('background', color);
      this.broadcast(color);
    },
    onChange2: function(color) {
      this.two.css('background', color);
      this.broadcast(color);
    },
    onChange3: function(color) {
      this.three.css('background', color);
      this.broadcast(color);
    },
    onChange4: function(color) {
      this.four.css('background', color);
      this.broadcast(color);
    },
    onChange5: function(color) {
      this.five.css('background', color);
      this.broadcast(color);
    },

    broadcast: function(color) {
      this.output.html('Current color: ' + color);
    },
  };

  $(function () {
    app.start();
  });
})();
</script>
