<h3 class='blend'>Blend</h3>
<br><br>
<form class="color_scheme_form" ng-submit="blend.addColorScheme(blend.newColorScheme, blend.user.id)">
  <div class='box-container'>
    <input id='color_one' ng-model='blend.newColorScheme.color_one'/>
    <input id='color_two' ng-model='blend.newColorScheme.color_two'/>
    <input id='color_three' ng-model='blend.newColorScheme.color_three'/>
    <input id='color_four' ng-model='blend.newColorScheme.color_four'/>
    <input id='color_five' ng-model='blend.newColorScheme.color_five'/>
  </div>
  <br>
  <div class='box-container'>
    <div class="pixel" id='one' style="background-color:#EAFEFF"></div>
    <div class="pixel" id='two' style="background-color:#AFBEBF"></div>
    <div class="pixel" id='three' style="background-color:#757F7F"></div>
    <div class="pixel" id='four' style="background-color:#3A3F40"></div>
    <div class="pixel" id='five' style="background-color:#D3E5E5"></div>
  </div>
  <br>
  <div class='container center'>
  <div class="row">
    <div class="input-field col s6">
      <input id='input7' ng-model='blend.newColorScheme.color_scheme_name' type='text' class='validate'/>
      <label id='label7' for="color_scheme_name">Color Scheme Name</label>
    </div>
    <br>
    <button id='save-scheme' class="waves-effect waves-light light-blue lighten-4 btn btn" type='submit'>Save Color Scheme</button>
      </div>
  </div>
</form>

<br><br>
<h5 class='blend'>{{blend.user.username}}'s Color Schemes</h5>
<div class="showColorSchemes" ng-repeat='color in blend.colorSchemes track by $index' ng-mouseover='hoverIn()' ng-mouseleave='hoverOut()' ng-if='blend.colorSchemes.length >= 1'>
  <div class='box-container'>
    <div class="pixel" class='saved-schemes' style="background-color:{{color.color_one}}"></div>
    <div class="pixel" style="background-color:{{color.color_two}}"></div>
    <div class="pixel" style="background-color:{{color.color_three}}"></div>
    <div class="pixel" style="background-color:{{color.color_four}}"></div>
    <div class="pixel" style="background-color:{{color.color_five}}"></div>
    <span ng-show='showName' class='animate-show' id='show-details'>
      <h6 id='name-spacing'>{{color.color_scheme_name}}</h6>
      <button class="btn-floating btn-small waves-effect waves-light blue-text white" ng-click='blend.deleteColorScheme(blend.user.id, blend.colorSchemes[$index].id, $index, blend.all_color_schemes)'>X</button>
    </span>
  </div>
</div>
<div class="showColorSchemes" ng-if='blend.colorSchemes.length < 1'>
  <br>
  <p class='no-schemes'>You don't have any saved color schemes. Start blending above!</p>
</div>

<!-- SPECTRUM FUNCTIONS -->

<script>
$("#color_one, #color_two, #color_three, #color_four, #color_five").spectrum({
    color: "tinycolor",
    clickoutFiresChange: true,
    preferredFormat: "hex",
    showPalette: true,
    showAlpha: true,
    showInput: true,
    change: function(colorSelected) {
        color = colorSelected.toHexString();
    }
});
$('#one, #two, #three, #four, #five').click(function(){
    $(this).css('background-color' , color);
});
</script>


<!-- UNUSED CODE -->

<!-- <button class="waves-effect waves-light light-blue lighten-4 btn btn" type='submit' ng-click="blend.showColorSchemes(blend.user.id)">Show Color Schemes</button> -->

<!-- <script>
$("#color_two").spectrum({
    color: "#f00"
});
</script> -->
<!-- <script>
$("#color_three").spectrum({
    color: "#f00"
});
</script>
<script>
$("#color_four").spectrum({
    color: "#f00"
});
</script>
<script>
$("#color_five").spectrum({
    color: "#f00"
});
</script> -->
