<div class='explore'>
<div class='triangle'></div>
<div id='heading'>
  <br>
<h2 class='text'>Explore</h2>
<h5 class='text'>recent color schemes</h5>

<br><br><br><br>
</div>
<div class='triangle2'></div>
</div>

<div class='explore-container'>
  <br>
<h5>See what other members are doing</h5>
<br>
<div class="showAllColorSchemes" ng-repeat='colors in blend.all_color_schemes | limitTo: 10' ng-mouseover='hoverIn()' ng-mouseleave='hoverOut()'>
  <div class='box-container'>
    <div class="pixel" style="background-color:{{colors.color_one}}"></div>
    <div class="pixel" style="background-color:{{colors.color_two}}"></div>
    <div class="pixel" style="background-color:{{colors.color_three}}"></div>
    <div class="pixel" style="background-color:{{colors.color_four}}"></div>
    <div class="pixel" style="background-color:{{colors.color_five}}"></div>
    <span ng-show='showName' class='animate-show' id='show-details'>
      <h5 id='name-spacing'>{{colors.color_scheme_name}}</h5>
    </span>
  </div>
</div>
</div>

<div class='e-buttons'>
<br><br>
<h4 class='text'>Begin Blending:</h4>
<button class="btn waves-effect waves-light blue blue lighten-4" ui-sref='login'>Log In</button>
<button class="btn waves-effect waves-light blue blue lighten-4" ui-sref='signup'>Sign Up</button>
<br><br><br><br>
</div>

<!-- UNUSED CODE -->

<!-- <button type='submit' class="waves-effect waves-light blue blue lighten-4 btn btn" ng-click="blend.showAllColorSchemes(all_color_schemes)">Show Color Schemes</button> -->
