<div class='explore'>
<div class='triangle'></div>
<div id='heading'>
<h2 class='text'>Explore</h2>
<h5 class='text'>See what other users are doing</h5>

<br><br><br><br>
</div>
<div class='triangle2'></div>
</div>
<!-- <div class='flex'>
<div class='triangle3'></div></div> -->
<h4>All Users</h4>


<button type='submit' class="waves-effect waves-light light-blue lighten-3 btn btn" ng-click="blend.showAllColorSchemes(blend.id)">Show Color Schemes</div>
<div ng-repeat='colors in blend.allColorSchemes track by $index'>
  <div>{{colors.color_scheme_name}}</button>
  <div>{{colors.color_one}}</div>
  <div>{{colors.color_two}}</div>
  <div>{{colors.color_three}}</div>
  <div>{{colors.color_four}}</div>
  <div>{{colors.color_five}}</div>
</div>
