<div class='triangle3'></div>

<br><br><br><br><br><br>

<div class='container login'>
<h4>Log In</h4>

<div class="row">
    <form class="col s12" ng-submit="blend.login(user)">
      <div class="row">
        <div class="input-field col s12 m6">
          <i id='icon' class="prefix small material-icons grey-text text-grey darken-4">perm_identity</i><input id='input' type="text" ng-model="user.username" name='username'>
          <label id='label' for="username">Username</label>
        </div>
        <div class="input-field col s12 m6">
          <i class="prefix small material-icons grey-text text-grey darken-4">lock_outline</i><input id='input1' type="password" class="validate" ng-model="user.password">
          <label id='label1' for="password" data-error="wrong">Password</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light  blue-grey lighten-4" type="submit" name="action">Log In</button>
    </form>
  </div>

<br><br><br>

<div class='container'>
<h5>Don't Belong?</h5>
<p>Create a free account to start blending colors, save your color schemes and browse our unlimited color combinations.</p>
<br>
<button class="btn waves-effect waves-light  blue-grey lighten-4" ui-sref='signup'>Become A Member</button>
</div>

</div>

<br><br><br><br><br><br>

<div class='box-container hide-on-small-only'>
  <div class="pixel" style="background-color:#9ad4e2"></div>
  <div class="pixel" style="background-color:#8cbbd7"></div>
  <div class="pixel" style="background-color:#cecece"></div>
  <div class="pixel" style="background-color:#e8e8e8"></div>
  <div class="pixel" style="background-color:#D3E5E5"></div>
</div>
