<div class='content'>
  <div class='triangle3'></div>

  <br><br><br><br><br><br>

  <div class='container signup'>
    <h4>Settings</h4>
    <div class="row">
      <form class="settings" ng-submit='blend.updateSettings(blend.user.id, blend.newInformation)'>
        <div class="input-field col s12 m6">
          <i class="prefix small material-icons grey-text text-grey darken-4">email</i><input id='input5' type="email" class="validate" name="email" ng-model='blend.newInformation.email_address' class='validate'>
          <label id='label5' for="email_address">New Email</label>
        </div>

        <div class="input-field col s12 m6">
          <i class="prefix small material-icons grey-text text-grey darken-4">lock_outline</i><input id='input6' type="password" class="validate" ng-model="blend.newInformation.password">
          <label id='label6' for="password">New Password</label>
        </div>
        <button class="btn waves-effect waves-light blue-grey lighten-4" type="submit" name="action">Update Settings</button>
      </form>
    </div>

    <br><br><br>

    <div class='container'>
      <h5>Looking for a fresh start?</h5>
      <p>Clear your color scheme history and start from scratch. Be careful though - once you clear your history, there's no way to get it back!</p>
      <br>
      <button class="btn waves-effect waves-light blue-grey lighten-4" ng-click='blend.clearHistory(blend.user.id)'>Clear Color Scheme History</button>
    </div>

  </div>
  <br><br><br>

</div>

<div class='box-container footer'>
  <div class="pixel" style="background-color:#9ad4e2"></div>
  <div class="pixel" style="background-color:#8cbbd7"></div>
  <div class="pixel" style="background-color:#cecece"></div>
  <div class="pixel" style="background-color:#e8e8e8"></div>
  <div class="pixel" style="background-color:#D3E5E5"></div>
</div>
