/*BASE CSS*/

* {
  margin: 0;
}

@font-face {
  font-family: 'Caviar Dreams';
  src: url('CaviarDreams.ttf') format('opentype');
}

body {
  font-family: Caviar Dreams;
}

p {
  font-family: Arial;
}

nav {
  font-family: Caviar Dreams;
  color: black;
}

#color,
#color2,
#color3,
#color4 {
  color: black;
}

#color:hover,
#color2:hover,
#color3:hover,
#color4:hover {
  color: #D6EEFF;
  background-color: white;
}

.nav-link:hover {
  background-color: white;
  color: #D6EEFF;
}

/*HOME PAGE*/

.triangle,
.triangle2,
.text,
.pixel,
.pixel2,
.pixel3,
.pixel4,
.pixel5 {
  cursor: pointer;
}

.home,
.explore {
  text-align: center;
  background: ivory;
}

.text {
  text-align: center;
  /*font-family: Caviar Dreams;*/
}

#heading {
  /*background: black;*/
  /*padding: 5vh;*/
  /*color: white;*/
  margin-top: -30vh;
  margin-bottom: -20vh;
  /*background-color: ivory;*/
}

.triangle {
  width: 0;
  height: 0;
  border-left: 240px solid transparent;
  border-right: 240px solid transparent;
  border-top: 280px solid #D6EEFF;
  z-index: -1;
}

.triangle2 {
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 200px solid #D6EEFF;
  z-index: -1;
  margin-left: 60%;
  /*margin-top: -30vh;*/
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: -1;
}

/*.triangle3 {
  width: 0;
  height: 0;
  border-top: 180px solid transparent;
  border-bottom: 180px solid transparent;
  border-right: 100px solid #D6EEFF;
  margin-top: -10vh;
}*/

.box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: stretch;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  height: 100%;
  /*flex-flow:wrap-reverse;*/
}

.pixel {
    height:75px;
    /*border : 1px solid black;*/
    flex-basis: 20%;
    justify-content: center;
}

.pixel2 {
    height:150px;
    /*border : 1px solid black;*/
    flex-basis: 45%;
    justify-content: center;
}
.pixel3 {
    height:150px;
    /*border : 1px solid black;*/
    flex-basis: 55%;
    justify-content: center;
}

.pixel4 {
    height:75px;
    /*border : 1px solid black;*/
    flex-basis: 30%;
    justify-content: center;
}
.pixel5 {
    height:75px;
    /*border : 1px solid black;*/
    flex-basis: 50%;
    justify-content: center;
}

/*.box {
  margin: auto;
  width: 200px;
  height: 200px;
  border: 1px solid black;
}*/

.h-buttons {
  background-color: white;
}

/*EXPLORE PAGE */

.e-buttons {
  background-color: ivory;
  text-align: center;
}

.explore-container {
  /*padding: 10vh 0 10vh 0;*/
  text-align: center;
}

/*BLEND PAGE*/

.blend {
  text-align: center;
}

#show-details {
  display: flex;
  align-items: center;
}

#name-spacing {
  padding: 0 2vh 0 0;
}

.animate-show {
  margin-top: -8vh;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  opacity: 1;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  display: inline-block;
}
.animate-show.ng-hide {
  opacity: 0;
}
/*FROM http://plnkr.co/edit/eGohFqiGKmkonmLwT3g1?p=preview*/

/*FORM SPECIFIC CSS*/

/*.input-field:focus,*/
#input:focus,
#input1:focus,
#input2:focus,
#input3:focus,
#input4:focus,
#input5:focus,
#input6:focus,
#input7:focus {
  border-bottom: 1px solid #353B40;
  box-shadow: 0 1px 0 0 #353B40;
  color: #353B40;
}

#input,
#input1,
#input2,
#input3,
#input4,
#input5,
#input6,
#input7 {
  border-bottom: 1px solid gray;
  box-shadow: 0 1px 0 0 gray;
  color: gray;
}

#label,
#label2,
#label3,
#label1,
#label4,
#label5,
#label6,
#label7 {
  color: gray;
}

/*i.icon-blue {
  color: blue;
}

.material-icons.active {
      color: #353B40;
    }*/

/*i.icon-blue.active {
  color: #353B40;
}*/

/*SETTINGS PAGE*/

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 75px;
  width: 100%;
}
