/*BASE CSS*/

* {
  margin: 0;
}

@font-face {
  font-family: 'Caviar Dreams';
  src: url('CaviarDreams.ttf') format('opentype');
}

body {
  font-family: Caviar Dreams;
}

p {
  font-family: Arial;
}

nav {
  font-family: Caviar Dreams;
  color: black;
}

.brand-logo {
  margin-top: 8vh;
  zoom: .2;
}

#color,
#color2,
#color3,
#color4 {
  color: black;
}

#color:hover,
#color2:hover,
#color3:hover,
#color4:hover {
  color: #8cbbd7;
  background-color: white;
}

.nav-link:hover {
  background-color: white;
  color: #8cbbd7;
}

/*HOME PAGE*/

.home,
.explore {
  text-align: center;
}

#heading {
  margin-top: -25vh;
  /*margin-bottom: -10vh;*/
}

#logo {
  zoom: .4;
}

.box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;
  /*align-items: stretch;*/
  display: flex;
  height: 100%;
}

/*.triangle {
  flex-basis: 20%;
  width: 0;
  height: 0;
  border-left: 240px solid transparent;
  border-right: 100% solid transparent;
  border-bottom: 280px solid #ebf6f9;
  z-index: -1;
}*/

.parent {
  overflow: hidden;
}

.triangle3 {
  width: 0;
  height: 0;
  border-left: 75vw solid transparent;
  border-right: 280px solid transparent;
  border-top: 280px solid #ebf6f9;
  z-index: -1;
}

.triangle2 {
  width: 0;
  height: 0;
  border-left: 240px solid transparent;
  border-right: 75vw solid transparent;
  border-bottom: 280px solid #ebf6f9;
  z-index: -1;
  float: right;
  margin-top: 10vh;
}

.pixel1 {
    margin-top: 3vh;
    height:155px;
    flex-basis: 25%;
    justify-content: center;
}

.pixel2 {
    margin-top: 3vh;
    height:155px;
    flex-basis: 40%;
    justify-content: center;
}

.pixel3 {
    margin-top: 3vh;
    height:155px;
    flex-basis: 10%;
    justify-content: center;
}

.pixel4 {
    margin-top: 3vh;
    height:100px;
    flex-basis: 80%;
    justify-content: center;
}

.pixel5 {
    margin-top: 3vh;
    height:155px;
    flex-basis: 15%;
    justify-content: center;
}

.pixel6 {
    margin-top: 3vh;
    height:155px;
    flex-basis: 40%;
    justify-content: center;
}

.h-buttons {
    margin-top: 3vh;
  /*background-color: #9ad4e2;*/
  height:155px;
  flex-basis: 60%;
  justify-content: center;
  /*border: 5px solid #ebf6f9;*/
}

.pixel {
    height:75px;
    flex-basis: 20%;
    justify-content: center;
}

/*#made {
  position: absolute;
}*/

/*#logo {
  margin-bottom: -3vh;
  zoom: .5;
}

.triangle,
.triangle2,
.text,
.pixel,
.pixel2,
.pixel3,
.pixel4,
.pixel5 {
  cursor: pointer;
}

.home,
.explore {
  text-align: center;
  background: white;
}

.text {
  text-align: center;
}

#heading {
  margin-top: -35vh;
  margin-bottom: -20vh;
}

#heading2 {
  margin-top: -32vh;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 240px solid transparent;
  border-right: 240px solid transparent;
  border-top: 280px solid #ebf6f9;
  z-index: -1;
}

.triangle3 {
  width: 0;
  height: 0;
  border-left: 440px solid transparent;
  border-right: 440px solid transparent;
  border-top: 480px solid #ebf6f9;
  z-index: -1;
}

.triangle2 {
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 200px solid #8cbbd7;
  z-index: -1;
  margin-left: 60%;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: -1;
}

.box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: stretch;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  height: 100%;
}

.pixel {
    height:75px;
    flex-basis: 20%;
    justify-content: center;
}

.pixel2 {
    height:150px;
    flex-basis: 45%;
    justify-content: center;
}

.pixel3 {
    height:150px;
    flex-basis: 55%;
    justify-content: center;
}

.pixel4 {
    height:75px;
    flex-basis: 30%;
    justify-content: center;
}
.pixel5 {
    height:75px;
    flex-basis: 50%;
    justify-content: center;
}

.pixel6 {
    height:75px;
    flex-basis: 10%;
    justify-content: center;
}

.h-buttons {
  background-color: white;
}*/

/*EXPLORE PAGE */

.text {
  text-align: center;
}

.e-buttons {
  background-color: white;
  text-align: center;
}

.explore-container {
  /*padding: 10vh 0 10vh 0;*/
  text-align: center;
}

/*LOGIN PAGE*/
.login,
.signup {
  margin-top: -40vh;
}

/*BLEND PAGE*/

.output {
  padding: 1em;
  /*border-bottom: 2px dashed #42595E;*/
  text-align: center;
  text-transform: uppercase;
}

.sp-replacer {
  background: transparent;
  padding-right: 14px;
  border-color: #475D62;
}

.sp-replacer:hover,
.sp-replacer.sp-active,
.sp-palette-container,
.sp-picker-container,
.sp-container {
  border-color: #D6EEFF;
}

.sp-palette-container,
.sp-picker-container {
  background-color: white;
}

.sp-container button {
  background: white;
  font-size: 1em;
  text-shadow: none;
  border-radius: 1em;
  padding-left: .8em;
  padding-right: .8em;
  box-shadow: none;
  outline: none;
}

.blend {
  text-align: center;
}

#show-details {
  display: flex;
  align-items: center;
}

#name-spacing {
  padding: 0 2vh 0 0;
}

.animate-show {
  margin-top: -8vh;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  opacity: 1;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  display: inline-block;
}
.animate-show.ng-hide {
  opacity: 0;
}
/*FROM http://plnkr.co/edit/eGohFqiGKmkonmLwT3g1?p=preview*/

.no-schemes {
  text-align: center;
}

/*FORM SPECIFIC CSS*/

/*.input-field:focus,*/
#input:focus,
#input1:focus,
#input2:focus,
#input3:focus,
#input4:focus,
#input5:focus,
#input6:focus,
#input7:focus {
  border-bottom: 1px solid #353B40;
  box-shadow: 0 1px 0 0 #353B40;
  color: #353B40;
}

#input,
#input1,
#input2,
#input3,
#input4,
#input5,
#input6,
#input7 {
  border-bottom: 1px solid gray;
  box-shadow: 0 1px 0 0 gray;
  color: gray;
}

#label,
#label2,
#label3,
#label1,
#label4,
#label5,
#label6,
#label7 {
  color: gray;
}

/*i.icon-blue {
  color: blue;
}

.material-icons.active {
      color: #353B40;
    }*/

/*i.icon-blue.active {
  color: #353B40;
}*/

/*SETTINGS PAGE*/

/**,
*:before,
*:after {
  box-sizing: inherit;
}*/

.footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 75px;
  width: 100%;
}
